
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header class="mt-5 d-flex justify-content-center">
        <nav>
            <a href="/Students/GetAll" class="btn btn-info">Get all</a>
            <a href="/Students/Create" class="btn btn-success">Create</a>
            <a href="/Students/Update" class="btn btn-secondary">Update</a>
            <a href="/Students/Delete" class="btn btn-danger">Delete</a>
        </nav>
    </header>
    <main>
        <section class="content">
            All Students
        </section>
    </main>
    <footer class="bg-info text-center my-5">
        <p>&copy; First CRUD project using MVC</p>
    </footer>
</body>
</html>
